.container{
    padding: 20px;
    display:inline-block;
    font-size: 5rem;
    letter-spacing:10px;
    border-right:5px solid;
    width: 1010px;
    white-space:nowrap;
    overflow:hidden;
    animation:
    typing 2s steps(100),
    cursor .4s step-end infinite alternate;
}
/*cursor blinking*/
@keyframes cursor{
    0%{
        border-color:transparent;
    }
}

/*typing animation*/
@keyframes typing{
    from{
        width:0;
    }
    to{
        width:100vw;
    }
}